body {
  margin: 0;
  min-height: 100vh;
  font-family: BlackRose, Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: BlackRose;
  src: url(../fonts/BlackRose-2Onld.ttf);
}

.boardCell {
  background-color: rgb(140, 219, 233);
  width: 2.5rem;
  height: 2.5rem;
}

.boardOne,
.boardTwo {
  display: grid;
  grid-template-columns: repeat(10, 2.5rem);
  background-color: rgb(116, 116, 116);
  width: fit-content;
  gap: 3px;
  border: 5px solid black;
  margin: 1rem;
}

.displayNone.displayNone {
  display: none;
}

.ship {
  background-color: #885c36;
}

.hit {
  background-color: rgb(255, 230, 0);
}

.damage {
  background-color: red;
}

.hovering {
  background-color: green;
}

.gameOverModal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
