body {
  margin: 0;
  min-height: 100vh;
  font-family: BlackRose, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: BlackRose;
  src: url(../fonts/BlackRose-2Onld.ttf);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  h1 {
    font-size: 4rem;
  }
  img {
    width: 15rem;
  }
}

main {
  background-color: #222;
  flex: 1;
}

.welcomeScreen {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  h2 {
    font-size: 2rem;
  }
  input {
    margin-top: 1rem;
    margin-bottom: 3rem;
    width: 12rem;
    height: 2rem;
    font-size: 1.5rem;
    text-align: center;
    font-family: BlackRose;
  }
  button {
    width: 12rem;
    height: 4rem;
    font-size: 1.5rem;
    background-color: black;
    border: none;
    color: white;
    font-family: BlackRose;
    cursor: pointer;
    transition: 0.2s ease-in-out 0s;
    padding: 1rem;
    border-radius: 50px;
  }
  button:hover {
    transform: scale(1.25);
    background-color: white;
    color: black;
  }
}

.placeShipSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  span {
    color: white;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  button {
    width: 7rem;
    height: 3rem;
    font-size: 1rem;
    background-color: black;
    border: none;
    color: white;
    font-family: BlackRose;
    cursor: pointer;
    transition: 0.2s ease-in-out 0s;
    padding: 1rem;
    border-radius: 50px;
  }
  button:hover {
    transform: scale(1.2);
    background-color: white;
    color: black;
  }
}

.playerContainers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  span {
    color: white;
    margin-top: 2rem;
    font-size: 2rem;
  }
  #playerOneContainer {
    flex-direction: column;
    align-items: center;
    button {
      width: 7rem;
      height: 3rem;
      font-size: 1rem;
      background-color: black;
      border: none;
      color: white;
      font-family: BlackRose;
      cursor: pointer;
      transition: 0.2s ease-in-out 0s;
      padding: 1rem;
      border-radius: 50px;
      margin-bottom: 2rem;
    }
    button:hover {
      transform: scale(1.2);
      background-color: white;
      color: black;
    }
  }
  #playerTwoContainer {
    flex-direction: column;
    align-items: center;
  }
}

.boardCell {
  background-color: rgb(140, 219, 233);
  width: 2.5rem;
  height: 2.5rem;
}

.boardOne,
.boardTwo {
  display: grid;
  grid-template-columns: repeat(10, 2.5rem);
  background-color: rgb(116, 116, 116);
  width: fit-content;
  gap: 3px;
  border: 5px solid black;
  margin: 1rem;
}

.displayNone.displayNone {
  display: none;
}

.ship {
  background-color: black;
}

.hit {
  background-color: rgb(255, 187, 0);
}

.damage {
  background-color: rgb(184, 0, 0);
}

.hovering {
  background-color: green;
}

.gameOverModal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .modalContainer {
    background-color: black;
    padding: 4rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div {
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }
    a {
      width: 7rem;
      height: 1.3rem;
      font-size: 1rem;
      background-color: white;
      border: none;
      color: black;
      font-family: BlackRose;
      cursor: pointer;
      transition: 0.2s ease-in-out 0s;
      padding: 1rem;
      border-radius: 50px;
      margin-bottom: 2rem;
      text-decoration: none;
      text-align: center;
    }
    a:hover {
      transform: scale(1.2);
      background-color: rgba(255, 255, 255, 0.85);
    }
  }
}

@media only screen and (max-width: 900px) {
  header {
    h1 {
      font-size: 2rem;
    }
    img {
      width: 10rem;
    }
  }
  .gameOverModal {
    height: 190%;
  }
}

@media only screen and (max-width: 530px) {
  header {
    h1 {
      font-size: 1.5rem;
    }
    img {
      width: 5rem;
    }
  }
  .boardCell {
    width: 1.5rem;
    height: 1.5rem;
  }
  .boardOne,
  .boardTwo {
    grid-template-columns: repeat(10, 1.5rem);
    gap: 2px;
  }
  .gameOverModal {
    height: 135%;
  }
}
